<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Human</title>
</head>
<body>
<a th:text="${person.getName()}">VALUE</a>
<br/>
<a th:text="${person.getYear()}">VALUE</a>
<br/>
<div th:if="${booksPerson.isEmpty()}">
    <p>This person hasn't book</p>
</div>

<div th:if="${!booksPerson.isEmpty()}">
    <p>Books:</p>
    <hr/>
    <table th:each="book : ${booksPerson}">
        <tr th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}">book</tr>
    </table>
</div>
<hr/>
<br/>
<a th:href="@{/people/{id}/edit(id=${person.getId()})}">
    <input type="submit" value="Edit">
</a>
<br/>
<br/>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete">
</form>
</body>
</html>